ConfigSpace>=0.4.14,<0.5
dask
distributed>=2.2.0
flake8
flake8-import-order
joblib
liac-arff
numpy>=1.9.0
numpy>=1.9.0
pandas>=1.0
pre-commit
pynisher>=0.6.3
pyrfr>=0.8.1,<0.9
pytest
pytest-cov
pytest-timeout
pyyaml
scikit-learn>=0.24.0,<0.25.0
scipy>=0.14.1
setuptools
smac>=0.13.1,<0.14
